
---
import Button from '@atoms/Button.astro';
const { actions } = Astro.props; // [{ label, href, variant }]
---
<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
  {actions.map(a =>
    a.href
      ? <a href={a.href}><Button variant={a.variant}>{a.label}</Button></a>
      : <Button variant={a.variant}>{a.label}</Button>
  )}
</div>
